{% extends 'base.html' %} {% block navbar %}

<nav class="navbar bg-body-tertiary">
	<div class="container">
		<a class="navbar-brand" href="{% url 'playlist_search' %}">
			<img
				src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/1024px-Spotify_icon.svg.png?20220821125323"
				alt="Spotify Logo"
				width="45"
				height="45"
			/>
			to
			<img
				src="https://upload.wikimedia.org/wikipedia/commons/0/09/YouTube_full-color_icon_%282017%29.svg"
				alt="Youtube Logo"
				width="45"
				height="33"
			/>
		</a>
	</div>
</nav>

{% endblock navbar %}
